@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

html, body{ 
    width: 100%;
    height: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed; /* Rămâne fix pe ecran */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/backgr.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px) brightness(0.6); /* blur + întunecare */
  z-index: -1; /* trimite-l în spate */
}


.navbar{
    background-color: #6f4e37;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

@media(max-width: 1070px){
    .navbar{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar-mobile{
    background-color: #6F4E37;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    z-index: 98;
    width: 100%;
}

.list{
    gap: 30px;
    align-items: center;
    background-color: #6F4E37;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 7px;
}

.list li{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.list button{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.cart-svg{
    width: 30px;
    height: 30px;
    margin-right: -10px;
    filter: invert(100%);
}

@media(max-width: 840px){
    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: flex;
    }
}

@media(max-width: 510px){
    .navbar-mobile{
        padding-left: 15px;
        padding-right: 15px;
    }
    .list{
        gap: 15px;
    }
}


.mobile-menu{
    background-color: #6f4e37db;
    height: 100vh;
    width: 250px;
    z-index: 11;
    position: fixed;
    display: block;
}

@media(max-width: 370px){
    .mobile-menu{
        width: 210px;
    }
}

.top-menu{
    width: 100%;
    display: flex;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 62px;
    background-color: #6f4e37;
    justify-content: center;
    flex-direction: column;
}

.content-menu{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
    margin-left: 30px;
    list-style-type: none;
}

.content-menu button{
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

#mobile-menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#mobile-menu.active {
  transform: translateX(0);
}

/****************** Cos cu produse *********************/

.cart-container{
    width: 375px;
    height: 100vh;
    background-color:#6f4e37db;
    position: fixed;
    top: 0px;
    z-index: 10;
    right: 0px;
    border: 3px solid #3c2d22;
    border-right: none;
}

#cart-container{
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

#cart-container.active{
    transform: translateX(0%);
  transition: transform 0.3s ease;
}

@media(max-width: 450px){
    .cart-container{
        width: 100%;
        border-radius: 0px;
    }
}

.align-items{
    width: 100%;
    height: 59px;
}

.cart-title-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    border-top: 3px solid #3c2d22;
    border-bottom: 3px solid #3c2d22;
    background-color:#6f4e37;
}

.cart-title-container p{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.exit-cart{
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 10px;
    background-color: rgb(213, 14, 14);
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

/****************  Header/Video  *****************/

.header-container {
    position: relative;
    width: 100%;
    height: 100vh; /* ocupă tot ecranul */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit:cover;
    z-index: 1;
}

.principal-text {
    margin-left: 25px;
    margin-right: 25px;
    position: absolute;
    text-align: center;
    color: white;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
}

.title-prin{
    font-size: 40px;
    font-weight: bold;
}

.description{
    font-size: 25px;
}

@media(max-width: 850px){

    .title-prin{
    font-size: 32px;
    font-weight: bold;
}

.description{
    font-size: 20px;
}
}

@media(max-width: 850px){
    .title-prin{
    font-size: 32px;
    font-weight: bold;
}

.description{
    font-size: 20px;
}
}

.buttons-go{
    margin-top: 15px;
}

.buttons-go button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #795439; /* accent coffee */
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}

@media(max-width: 400px){
    .buttons-go button{
        margin: 0 0px;
    }
}

@media(max-width: 505px){
    .title-prin{
        max-width: 310px;
        text-align: center;
    }
}

@media(max-width: 600px){
    .buttons-go button{
        font-size: 15px;
    }
}

/************* Setari ************/

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding-left: 0;
  margin: 0;
  background: #6f4e3700;

  transition: max-height 0.5s;
}

/* când meniul este activ */
.dropdown.active .dropdown-menu {
  max-height: 500px; /* destul cât să conțină tot */
}

.dropdown-menu li {
  cursor: pointer;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

/***************** SOON ***************/

.soon1{
    text-align: center;
    font-size: 30px;
    color: rgb(215, 10, 10);
    font-weight: bold;
}

.soon2{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.soon2 a{
    color: rgb(149, 2, 149);
    font-weight: bold;
}





/************* Despre Noi ****************/

#despre{
    margin-top: 0px;
}

.center-all{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.title-despre-noi{
    font-size: 35px;
    font-weight: bold;
    color:#6f4e37;
}

.colect-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
    gap: 3%;
}

.container-text {
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    border: none;
    border-radius: 20px;
    color: white;
    overflow: hidden; /* important pentru a nu ieși efectele în afara containerului */
    z-index: 0;
}

.par{
   /* background-image: url(images/best.jpg);*/
   background-color: #845839;
    padding: 15px;
    border-radius: 17px;
}

.container-map {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.immg{
    border: 3px solid #795439;
    background-image: url(images/map.png);
    background-position: center;
    background-size: cover;
    border-radius: 17px;
    width: 100%;
    height: 260px;
    position: relative;
}

.vezi-map{
    font-size: 17px;
    color: white;
    font-size: bold;
    background-color: #795439;
    border: none;
    border-radius: 25px;
    padding: 7px 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 170px;
}

/************ Software 2.0 *************/

.spec{
    margin-top: -20px;
    border: 3px solid #6f4e37;
    border-radius: 17px;
    width: 92%;
    padding: 0px;
    max-width: 1120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.soft{
    font-weight: bold;
    color:#6f4e37;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
}

.soft-text{
    color: #6f4e37;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.btn-soft{
    font-size: 15px;
    color: white;
    font-size: bold;
    background-color: #795439;
    border: none;
    border-radius: 25px;
    padding: 4px 15px;
    cursor: pointer;
    width: 130px;
}







@media(max-width: 1080px){
    .colect-all{
        flex-direction: column;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 20px;;
        gap: 20px;
    }

    .spec{
        padding-top: 10px;
    }

    .container-text{
        width: 100%;
    }

    .container-map{
        width: 100%;
    }

    .immg{
        height: 250px;
    }
}

/************* Wrapper ***************/

.wrapper{
    margin: 0px;
    width: 95%;
    max-width: 1200px;
    gap: 100px;
    margin-inline: auto;
    position: relative;
    height: 70px;
    overflow: hidden;
}

@keyframes scrollLeft {
    to{
        left: -200px;
    }
}

@media(max-width: 830px){
    .item{
        width: 150px;
        left: calc(150px * 8);
    }
}

@media(max-width: 500px){
    .item{
        font-size: 20px;
        width: 120px;
        left: calc(120px * 8);
    }
}

.item{
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #795439;
    font-weight: bold;
    font-size: 22px;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    left: calc(200px * 8);
    animation: scrollLeft 30s linear infinite;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}




/************  Online Store  ************/

.rly-all-cont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.magazin-online{
    font-weight: bold;
    font-size: 35px;
    color: #795439;
    margin-bottom: 30px;
}

.recenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-cont{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/************ Btn left/right  ***************/

.princ{
    max-width: 1159px;
    overflow: hidden;
    display: flex;
    position: relative;
    border-top: 3px solid #795439;
    border-bottom: 3px solid #795439;
    width: 100%;
}

@media(max-width: 1200px){
    .princ{
        max-width: 966px;
    }
}

@media(max-width: 1020px){
    .princ{
        max-width: 779px;
    }
}

@media(max-width: 830px){
    .princ{
        max-width: 588px;
    }
}

@media(max-width: 620px){
    .princ{
        max-width: 397px;
    }
}

.leftBtn{
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.rightBtn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.rightBtn, .leftBtn{
    width: 40px;
    height: 40px;
    background-color:#845a3c;
    border: white 2px solid;
    border-radius: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

/****** Continue ******/


.principal-cont{
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px 15px;
}



.principal-cont {
  display: flex;            /* aranjează cardurile pe orizontală */
  gap: 20px;                /* spațiu între carduri */
  overflow-x: auto;         /* permite scroll orizontal */
  scroll-behavior: smooth;  /* scroll lin */
  padding: 10px 0;
  list-style: none;         /* elimină bulinele */
  -ms-overflow-style: none;  /* Internet Explorer și Edge */
  scrollbar-width: none;     /* Firefox */
  gap: 20px; 
  padding: 15px 20px; 
}

.principal-cont::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

.card{
    flex: 0 0 auto;
    background-color: #926545;
    height: 300px;
    width: 170px;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid white;
}

.title{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.price{
    font-size: 15px;
    color: white;
    margin-bottom: 7px;

}

.btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.buy-prod{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    padding: 0px 25px;
    border: 1px solid white;
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
}

.see-prod{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    padding: 0px 25px;
    border: 1px solid white;
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
}



.type-categories{
    font-weight: bold;
    font-size: 25px;
    color: #795439;
    text-align: left;
}


@media(max-width: 430px){
    .type-categories{
        font-size: 20px;
    }
    
    .princ{
        width: 100%;
        max-width: 100%;
        border-top: 3px solid #795439;   
        border-bottom: 3px solid #795439;
    }

    .title{
        font-size: 15px;
    }

    .principal-cont{
        max-width: 305px;
        gap: 15px;
        padding: 15px 8px;
    }

    .card{
        width: 135px;
        height: 260px;
    }

    .product-img{
        width: 120px;
        height: 120px;
    }

    .buy-prod, .see-prod{
        font-size: 15px;
        padding: 0px 15px;
    }
}

@media(max-width: 390px){
    .type-categories{
        font-size: 20px;
    }

    .title{
        font-size: 15px;
    }

    .principal-cont{
        gap: 15px;
        padding: 15px 8px;
    }

    .card{
        width: 135px;
        height: 260px;
    }

    .product-img{
        width: 120px;
        height: 120px;
    }

    .buy-prod, .see-prod{
        font-size: 15px;
        padding: 0px 15px;
    }
}

#acasa2, #despre2, #produse2, #contact2, #setari {
  cursor: pointer;
}



/*********** Contact Us ***********/

.all-email-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

@media(max-width: 600px){
    .all-email-container{
    padding-left: 13px;
    padding-right: 13px;
    }
}

.contacteaza-ne{
    font-size: 30px;
    font-weight: bold;
    color:#6f4e37;
    margin-bottom: 10px;
}

.email-container{
    display: flex;
    flex-direction: column;
    border: 3px solid #6f4e37;
    padding: 20px;
    border-radius: 20px;
    max-width: 1100px;
    width: 100%;
}

@media(max-width: 450px){
    .email-container{
        padding: 7px;
        padding-top: 15px;
        padding-bottom: 13px;
    }
}

.email-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-name, .contact-email{
    width: 200px;
    height: 27px;
    background-color: #6f4e37;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    outline: none;
}

.email-container form label{
    color:#6f4e37;
    font-weight: bold;
}

.real-email-text{
    font-size: 14px;
    color:#6f4e37;
    font-weight: bold;
    margin-bottom: 15px;
}

.mesaj-container{
    width: 100%;
    height: 300px;
}

.mesaj{
    width: 100%;
    height: 100%;
    background-color:#805638;
    border-radius: 15px;
    padding: 15px;
    outline: none;
    color: white;
}

.submit-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit{
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color:#6f4e37;
    padding: 2px 1px;
    cursor: pointer;
}


/************ Footer *************/

.footer-div{
    width: 100%;
    padding-bottom: 100px;
    height: auto;
    position: relative;
    background-color:#6f4e37;
    padding: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: white;
    text-align: center;
    font-size: 14px;
    z-index: 99;
    border-top: 3px solid #3c2d22;
}

.devMihai{
    color: white;
    font-weight: bold;
}

/*************** Animation Entry ****************/

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(3px);
    transform: translateY(30px);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0)
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}
