
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: poppins
}

body{
    background-color: rgb(32, 32, 32);
}

p{
    margin: 0px;
}
/****************PC NAVBAR******************/

#inv-nav{
    width: 100%;
    height: 30px;
    display: none;
}

#pc-navbar{
    background-color: rgb(33, 31, 31);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

#mobile-navbar{
    background-color: rgb(33, 31, 31);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 60px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 26px;
}

@media(max-width: 1100px){
    #pc-navbar{
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media(max-width: 800px){
    #pc-navbar{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width: 730px){
    #pc-navbar{
        display: none;
    }
    #mobile-navbar{
        display: flex;
    }
}

#pc-navbar ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

#pc-navbar li{
    color: white;
    font-weight: bold;
    font-size: 22px;
    list-style-type: none;
    cursor: pointer;
}

#menu{
    filter: invert(1);
    height: 45px;
}


/*******************LOGO NAVBAR*********************/
#logo-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#logo1{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

#logo2{
    font-size: 25px;
    font-weight: bold;
    color: rgb(207, 6, 207);
}

/***********************HERO***************************/

.title{
    color: white;
    font-size: 40px;
}

#pc-hero{
    display: block;
}

#mobile-hero{
    display: none;
}

#hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 13%;

    background: url(Images/bg3.png), url(Images/back.png), url(Images/rea1.jpg);/*, url(Images/bg-bottom-hero.png);*/
    background-position: center bottom -1px, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 20%, cover, cover;
}

@media(max-width: 750px){
    #hero{
    background: url(Images/bg3.png), url(Images/back.png), url(Images/rea1.jpg);/*, url(Images/bg-bottom-hero.png);*/
    background-position: center bottom -1px, left, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 20%, 150% 100%, cover;
}
}

.hero-el{
    width: 40%;
}

.text-hero{
    width: 40%;
}

#text-hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#video-container{
    width: 35%;
    height: auto;
}

#video{
    width: 100%;
    height: auto;
}

@media(min-width: 1100px){
    #video{
    width: 90%;
    height: auto;
}
}

.hero-text{
    color: white;
    font-weight: bold;
}

#text-hero1{
    font-size: 45px;
}

#text-hero2{
    font-size: 25px;
}

#flex{
    display: flex;
    align-items: center;
    gap: 15px;
    min-height: auto;
}

.purple{
    color: rgb(207, 6, 207);
}

#btn-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%
}

.btn{
    width: 180px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}

#btn1{
    background-color: rgb(164, 13, 164);
    border: none;
    color: white;
}

#btn2{
    background-color: transparent;
    color: white;
    border: 3px solid rgb(164, 13, 164);
}

#btn2:hover{
    background-color: rgb(164, 13, 164);
    border: 3px solid rgb(164, 13, 164);
    transition: 0.5s;
}

@media(max-width: 1100px){
    #hero{
        gap: 70px;
    }
}

@media(max-width: 940px){
    #text-hero1{
        font-size: 37px;
    }
    #text-hero2{
        font-size: 22px;
    }
    .btn{
        font-size: 17px;
        padding: 10px 10px;
        width: 100%;
    }
}

@media(max-width: 750px){
    #hero{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    #video-container{
    width: 70%;
    height: auto;
    }

    #btn-container{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .hero-el{
        width: auto;
    }

    #inv-nav{
        display: block;
    }
}

@media(max-width: 500px){
    #text-hero1{
        font-size: 32px;
    }
    #text-hero2{
        font-size: 20px;
    }
}

@media(600px < width < 750px){
    #hero{
        padding-top: 20px;
    }
    #btn-container{
        flex-direction: row;
    }
    #video-container{
    width: 50%;
    height: auto;
    }
}

@media(max-width: 600px){
    #video-container{
    width: 60%;
    height: auto;
    }

    #pc-hero{
    display: none;
    }

    #mobile-hero{
    display: block;
    }
}

@media(500px < width < 600px){
    #inv-nav{
        height: 70px;
    }
    #video-container{
        width: 55%;
    }
}



































.p{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    width: auto;
}
